<%- include (header) -%>

<body>
  <div class="container">
      <div class="alert alert-danger" role="alert" style="display: <%=noUser%>;">
        <%=noUserMsg%>
      </div>
      <div class="alert alert-success" role="alert" style="display: <%=mailSent%>;">
        <%=mailSentMsg%>
      </div>
      <div class="alert alert-danger" role="alert" style="display: <%=badToken%>;">
        <%=badTokenMsg%>
      </div>
      <div class="jumbotron">
        <h1 class="display-4"><%=title%></h1>
        <hr class="my-4">
        <form action="/forgot" method="post">
          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="<%=email%>">
          </div>
          <button type="submit" class="btn btn-dark btn-sm forgot-btn" role="button"><%=buttonReset%></button>
          <a class="btn btn-dark btn-sm forgot-btn-home" href="/home" role="button"><%=buttonHome%></a>
        </form>
      </div>
  </div>
</body>
</html>
